six>=1.15.0
numpy>=1.20.1
beautifulsoup4>=4.6.0
lxml>=4.1.1
PyQt5>=5.15.1
PyQt5-sip<13,>=12.8
PyQtWebKit>=5.13.1
pysqlite3>=0.4.3
pyperclip>=1.8.1
filetype>=1.0.7
QScintilla>=2.11.5
Pillow>=7.2.0
jsonschema>=3.2.0